# macOS
.DS_Store

# Lambda Deployment Packages
dist/

# Environment Variables
.env
.env.local
.env.*.local

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# AWS
*.pem

# Logs
*.log
logs/
